body {
    background-color:gray;
}

#Titulo {
    color:white;
    text-align: center;
    font-size: 80px;
}

.texto {
    color:ghostwhite;
    text-align: justify;
    font-size: 35px;
}
#missão {
   em strong {
    color: red; 
    text-align: center;
    }  
