body {
    background-color:gray;
}

#Titulo {
    color:white;
    text-align: center;
    font-size: 80px;
}

.texto {
    color:aliceblue
    text-align: justify;
    font-size: 50px;
}
#missão {
     text-align: center;
    font-size: 35px; 
   } 
    em strong {
    color: red; 
    }
